[submodule "matlab_wrapper/dependencies/fst-matlab-struct-utilities"]
	path = matlab_wrapper/dependencies/fst-matlab-struct-utilities
	url = git@git.rwth-aachen.de:fst-tuda/public/fst-rdf-utilities.git
