[submodule "matlab_wrapper/dependencies/fst-matlab-struct-utilities"]
	path = matlab_wrapper/dependencies/fst-matlab-struct-utilities
	url = https://git.rwth-aachen.de/fst-tuda/projects/designing-with-fluids/hydropulser/fst-matlab-struct-utilities.git
